:root{
    background-color: #F5F5F5;
    
    --font-family-default: Inter;
    --clr-font: #002060;

    --fw-bold:700;
    --fw-regular:400;

}
*{
    margin: 0;
    font: inherit;
}

img{
    display: block;
    max-width: 100%;

}

body{
    font-size: var(--fw-regular);
    font-family: var(--font-family-default);
    color: var(--clr-font);
}

.banner-section{
    background-color: #002060;
    background-image: url(../Gallery/CV_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;

    color: white;

}

#profile-photo{
    width: 210px;
    height: 210px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    position: relative;
    margin-bottom: 9%;
    margin-left:42%;
    /* border: 2px solid red; */
}