:root{
    background-color: #F5F5F5;
    
    --font-family-default: Inter;
    --clr-font: #002060;

    --fw-bold:700;
    --fw-regular:400;

}
*{
    margin: 0;
    font: inherit;
}

img{
    display: block;
    max-width: 100%;

}

body{
    font-size: var(--fw-regular);
    font-family: var(--font-family-default);
    color: var(--clr-font);
}

.banner-section{
    background-color: #002060;
    background-image: url(../Gallery/CV_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 180px; */
    border: 2px solid red;
    border-radius: 15px;

    color: white;

    padding-top: 75px;
    margin: 2% auto;
    max-width: 80%;
    

}

.banner-container{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;

    border: solid 2px yellow;
}

#profile-photo{
    display: inline-block;
    width: 180px;
    height: 180px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

section{
    border: 2px solid black;
    margin: 5% auto;
    background: white;
    text-align: center;
    border-radius: 15px;
    max-width: 80%;
}

.section-header{
    font-weight: var(--fw-bold);
    font-size: 2.25rem;
    /* border: 2px solid red; */
    margin-top: 18px;
    margin-bottom: 5px;
}

.about-description{

    font-size: 1.25rem;
    /* border: 2px solid yellowgreen; */
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    /* margin: 4% auto; */
}


/* #profile-photo{
    width: 210px;
    height: 210px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    position: relative;
    margin-bottom: 9%;
    margin-left:42%; 
    border: 2px solid red;
} */